html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: rgb(19, 18, 18);
}

.fondo {
    background-image: linear-gradient(rgba(43, 9, 9, 0.384), rgba(17, 11, 11, 0.513)), url(/img/bateria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 70rem;
}

@media (min-width: 768px) {
    .fondo {
        height: 100rem;
    }
}

.separador {
    background-color: rgb(19, 18, 18);
    height: 10rem;
    width: 100%;
    color: brown;
    text-align: center;
    padding-top: 4rem;
}

.separador h1 {
    margin: 0;
    font-size: 2.7em;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.separador p {
    margin: 1rem auto;
    background-color: brown;
    max-width: 30rem;
    height: .3rem;
}

.contenedor {
    display: block;
    padding: 2rem;
    position: relative;
}

@media (min-width: 768px) {
    .contenedor {
        padding: 8rem;
        padding-bottom: 1rem;
    }
}

.cont-abajo {
    display: flex;
    justify-content: center;
}

.cont-abajo .key {
    margin: .7rem;
}

.cont-medio {
    display: flex;
    justify-content: center;
}

.cont-medio .key {
    margin: .6rem;
}

#f {
    margin-right: 5rem;
}

#z {
    margin-left: 5rem;
}

.costados-arriba {
    display: flex;
    justify-content: center;
}

#r {
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.key {
    font-size: 1.9rem;
    padding: 1.2rem;
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: rgb(233, 35, 0);
    width: 5rem;
    height: 4rem;
    font-weight: bold;
    border-radius: .8rem;
    border: .2rem solid rgb(233, 8, 0);
}

@media (min-width: 680px) {
    #s {
        font-size: 2rem;
        padding: 3.1rem;
        border-radius: 10rem;
    }
    #e,
    #w {
        font-size: 1.6rem;
        padding: .9rem;
        border-radius: 10rem;
    }
    #q,
    #r,
    #f {
        font-size: 2rem;
        padding: 2.1rem;
        border-radius: 10rem;
    }
}

@media (max-width: 680px) {
    #a,
    #d {
        font-size: 1.6rem;
        padding: .7rem;
        border-radius: 10rem;
    }
    #s {
        font-size: 1.6rem;
        padding: 1.6rem;
        border-radius: 10rem;
    }
    #e,
    #w {
        font-size: 1.6rem;
        padding: .4rem;
        border-radius: 10rem;
    }
    #q,
    #r,
    #f,
    #z {
        font-size: 1.2rem;
        padding: .7rem;
        border-radius: 10rem;
    }
    #f {
        margin-right: 1rem;
    }
    #z {
        margin-left: .8rem;
    }
}

.key p {
    margin: 1rem;
}

.key:hover {
    cursor: pointer;
}

.a,
.s,
.d,
.f,
.g {
    margin-right: .8rem;
}


/* .contenedor-2 {
    font-size: 2rem;
    color: rgb(224, 28, 28);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenedor-2 p {
    text-shadow: 3px 3px 9px rgb(0, 0, 0);
    margin-right: .8rem;
    padding: .5rem;
    background-color: rgba(34, 23, 23, 0.726);
    border-radius: 1rem;
    border: 2px double brown;
}

@media (min-width: 768px) {
    .contenedor-2 p {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .contenedor-2 p {
        font-size: 1rem;
    }
} */

.activo {
    transform: scale(1.3, 1.3);
    border: .4rem solid rgb(245, 24, 17);
    box-shadow: 0 0 8px brown;
}

.site-footer {
    background-color: rgb(19, 18, 18);
    height: 20rem;
    width: 100%;
}


/* Internas */

.pro {
    height: 8rem;
    width: 8rem;
    border-radius: 5rem;
}

.teclado {
    display: none;
    justify-content: center;
}

@media (max-width: 980px) {
    .teclado {
        display: flex;
    }
}

.teclado #listo p {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(233, 35, 0);
}

.texto {
    display: flex;
    justify-content: space-around;
}

#text {
    color: white;
    max-width: 6rem;
    height: 5rem;
}

@media (max-width: 650px) {
    #listo {
        max-width: 100%;
    }
    .teclado #listo p {
        font-size: 1.9rem;
        padding: 1rem;
        text-align: center;
    }
}

.info {
    display: flex;
    text-align: center;
    color: black;
    background-color: brown;
    padding: 1.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 1rem auto;
    justify-content: space-around;
}